.console {
    border: 2px solid #83d0f2;
    min-width: 250px;
    max-width: 250px;
    min-height: 400px;
    max-height: 720px;
    margin: 100px 0 0 20px;
    margin-right: auto;
    overflow: auto;
}