.menu {
    border: 2px solid #83d0f2;
    width: 960px;
    height: 600px;
    margin: 100px auto 0 auto;
}

.menu-link {
    width: 200px;
    height: 158px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    transition: 0.4s;
    border: 3px solid #FFF;
    text-align: center;
    text-decoration: none;
}

.menu-link p {
    text-align: center;
    color: #000;
}

.menu-link:hover {
    border: 3px solid #83d0f2;
}